.body{
    background-color: #28282B;
}
.navbar{
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list li{
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    color: whitesmoke;
}
.list li:hover{
   color:  #1dbf73;
}
.nav-button{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border: 1px solid whitesmoke;
    border-radius: 9px;
    color: whitesmoke;
    font-size: small;
    background-color: transparent;
}
.nav-button:hover{
    background-color:  #1dbf73;;
}
.hero{
    position: relative;
    top: 150px;
}
.hero h1{
    color: whitesmoke;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 100px;
    letter-spacing: 2px;
}
.hero-input{
    width: 450px;
    margin-left: 100px;
    height: 30px;
    border-radius: 5px;
}
.hero-input:focus{
    background-color:  #1dbf73;;
}
.search-icon{
    width: 50px;
    height: 30px;
}
.services{
    margin-left: 60px;
    display: flex;
}
.services p{
    font-size: 20px;
    color: whitesmoke;
}
.services li{
    list-style: none;
    margin-left: 15px;
    border: 1px solid whitesmoke;
    height: 19px;
    border-radius: 10px;
    padding: 5px;
    color: whitesmoke;
    margin-top: 15px;
}
.services li:hover{
    background-color: #1dbf73;
}
.background-image{
    position: absolute;
    right: 30px;
    top: 100px;
}
